<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  throwConfigExceptions="true">

	<targets>
		<target name="jsonLogFile" xsi:type="File" fileName="c:\\temp\\jsonLogFile.txt" />
		<target xsi:type="File" name="jsonLogFileEncoded" fileName="c:\\temp\\nlog-json-nested-${shortdate}.log">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level}" />
				<attribute name="message" layout="${message}" />
				<attribute name="properties" encode="false" >
					<layout xsi:type="JsonLayout" includeEventProperties="true" maxRecursionLimit="2" />
				</attribute>
				<!--<attribute name="exception" encode="false">
					<layout xsi:type="JsonLayout">
						<attribute type="type" layout="${exception:format=type}" />
						<attribute type="message" layout="${exception:format=message}" />
						<attribute type="stacktrace" layout="${exception:format=tostring}" />
					</layout>
				</attribute>-->
			</layout>
		</target>
		
	</targets>

	<rules>		
		<logger name="*" minlevel="Info" writeTo="jsonLogFile" />
		<logger name="*" minlevel="Info" writeTo="jsonLogFileEncoded" />		
	</rules>
</nlog>